@import url("https://fonts.googleapis.com/css2?family=Grandstander:wght@700&display=swap");

.states {
  background: lightcyan;
  width: 100%;
  border-radius: 200px 1200px 200px 1600px;
}
.states > h3 {
  text-align: center;
  font-size: 4em;
  color: darkolivegreen;
  letter-spacing: normal;
  font-family: "Grandstander", cursive;
}

.cardd {
  border: 1px solid black;
  height: 40px;
  width: 100%;
  padding: 27px 0px 84px 20px;
  margin-bottom: 10px;
  background: yellowgreen;
  border-radius: 10px 0 45px 65px;
  font-weight: 800;
}
