@import url("https://fonts.googleapis.com/css2?family=Grandstander:wght@700&family=Playfair+Display:wght@700&display=swap");
#landingContainer {
  height: 80vh;
  background: #1f6f8b;
  width: 100%;
  border-radius: 50px;
  padding-top: 5em;
}
#landing_head {
  font-weight: 800;
  font-size: 4em;
  line-height: normal;
  /* color: darkslateblue; */
  /* font-family: "Grandstander", cursive;
  font-family: "Playfair Display", serif; */

  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  color: rgb(224, 224, 224);
}
#landing_content {
  font-weight: 300;
  font-size: 1.3em;
  line-height: normal;

  font-family: "Poppins", sans-serif;
  line-height: 1.3;
  color: rgb(184, 184, 184);
}
.searchbox {
  background: white;
  width: 40%;
}
#search {
  border: none;
}
#btn {
  background: #1c2b2d;
  padding: 0.6em 1.3em;
  border: none;
  outline: none;
  border-radius: 10px !important;
}
#img {
  margin-bottom: 20px;
  padding: 5px;
}
.Icon {
  display: flex;
  justify-content: space-around;
  color: white;
}
.Icon > h5 {
  font-size: 2em;
}
