@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap");

#nav {
  position: fixed;
  width: 100%;
  background: #1c2b2d;
  z-index: 100;
}

#nav_brand {
  padding: 10px;
  margin-left: 3em;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
#nav_link {
  color: white;
  /* font-family: "Noto Serif", serif; */
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: normal;
}
#nav_button {
  background-color: lightgrey;
  border: none;
  cursor: pointer;
  color: #1c2b2d;
  /* font-family: "Noto Serif", serif; */
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  padding: 0.3em 1.5em;
  margin: 0 0 0 1em;
}
#nav_button:hover {
  padding: 10px;
  background-color: paleturquoise;
}
